<div class="news">
  <div class="container">
    <div class="news-search d-flex">
      <div class="news-head">
        <h2 class="heading">Haberler</h2>
      </div>

      <app-search
        [(filterText)]="filterText"
        (filterTextChange)="onFilterTextChange($event)"
      ></app-search>
    </div>
    <div *ngIf="filterText.length > 1" class="alert alert-success">
      {{ filterText }} aradınız.
    </div>
    <div class="row">
      <div
        class="col-md-6"
        *ngFor="
          let item of news
            | paginate
              : {
                  itemsPerPage: perPage,
                  currentPage: page,
                  totalItems: totalResults
                }
            | filterPipe : filterText
        "
      >
        <!--        TODO: add newsCard -->
        <app-news-card [item]="item"></app-news-card>

      </div>
    </div>
    <div class="pagination" *ngIf="!filterText">
      <pagination-controls
        (pageChange)="onPageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
