<div class="site-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-text">
                    <div class="text-box">
                        <h1 class="name">Yunus Emre Erkesikbaş</h1>
                        <h3 class="job-status">Frontend Developer</h3>
                        <p class="description">console.log("Hello World")<br>
                            Ben Yunus, Samsun Ondokuz Mayıs Üniversitesi Bilgisayar Mühendisliği öğrencisiyim. Web
                            development alanında başladığım yazılıma, ağırlıklı olarak Frontend alanında çalışarak
                            devam ediyorum. Genel olarak Javascript ile çalışıyorum ve framework olarak Angular
                            kullanıyorum
                            ancak React da öğrenmek istiyorum. Bunun yanısıra Backend'de PHP ile CMS yaptım. İlk
                            freelance işimi <a style="color: rgb(70, 70, 232);"
                                href="https://developer.hascakuruyemiskahve.com.tr/">Hasça
                                Kuruyemiş & Kahve</a> adına
                            yaptım ve bu siteye admin paneli ekledim. 2 farklı ajansta toplam 4 aylık deneyimim
                            oldu.Teoride öğrendiğim bilgileri, gerçek yaşamda da kullanarak kendimi geliştirmek
                            istiyorum. Bu yüzden çalışabileceğim bir şirket arıyorum
                        </p>
                    </div>
                    <div class="download-cv">
                        <button>
                            <a target="_blank" href="../../../assets/cv-global.pdf" download>CV İNDİR</a>

                        </button>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skill-section">
                    <div class="skill-section-inner ">

                        <div class="skills-title">
                            <h1>YETENEKLER</h1>
                        </div>
                        <ul class="skill-list">
                            <li>
                                <a href="https://www.javascript.com/" class="cursor-alter" target="_blank"
                                    rel="noopener">
                                    <img src="../../../assets/img/js.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://angular.io/" class="cursor-alter" target="_blank" rel="noopener">
                                    <img src="../../../assets/img/angular.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.python.org/" class="cursor-alter" target="_blank" rel="noopener">
                                    <img src="../../../assets/img/python.svg" alt="">
                                </a>
                            </li>

                            <li>
                                <a href="https://www.cprogramming.com/" class="cursor-alter" target="_blank"
                                    rel="noopener">
                                    <img src="../../../assets/img/c.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.php.net/" class="cursor-alter" target="_blank" rel="noopener">
                                    <img src="../../../assets/img/php.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://codeigniter.com/" class="cursor-alter" target="_blank" rel="noopener">
                                    <img src="../../../assets/img/codeigniter.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.ruby-lang.org/en/" class="cursor-alter" target="_blank"
                                    rel="noopener">
                                    <img src="../../../assets/img/ruby.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.w3schools.com/html/" class="cursor-alter" target="_blank"
                                    rel="noopener">
                                    <img src="../../../assets/img/html.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.w3schools.com/css/" class="cursor-alter" target="_blank"
                                    rel="noopener">
                                    <img src="../../../assets/img/css3.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://themetorium.net/" class="cursor-alter" target="_blank" rel="noopener">
                                    <img src="../../../assets/img/sql.svg" alt="">
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="heading ">PORTFOLYO</h1>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>Ateşler Kimya</h4>
                        </div>
                        <div class="project-desc">
                            <p>Bu proje, Post Ajans adına yaz staj döneminde yapmış olduğum bir çalışma. Ateşler
                                Kimya'ya
                                ait kurumsal bir website çalışması.Siteyi Angular ile kodladım</p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/ts.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/angular.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">

                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>
                        </div>
                        <div class="source">
                            <span>
                                <a target="_blank" href="https://github.com/yunusemreerkesikbas/AteslerKimya">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a target="_blank" href="https://ateslerkimya.vercel.app/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>Hasça Kuruyemiş & Kahve </h4>
                        </div>
                        <div class="project-desc">
                            <p>Bu proje, Hasça Kuruyemiş & Kahve adına yapmış olduğum kurumsal website çalışmasıdır.Aynı
                                zamanda aldığım ilk freelance iş. Siteye PHP ile admin paneli oluşturdum.Aynı zamanda
                                frontend arayüzüne de yardımcı oldum.</p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/php.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/js.svg" alt="">

                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">

                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>
                        </div>
                        <div class="source">
                            <span>
                                <a href="https://github.com/yunusemreerkesikbas/hasca">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a href="https://developer.hascakuruyemiskahve.com.tr/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>STU Website</h4>
                        </div>
                        <div class="project-desc">
                            <p>Freelance olarak aldığım bir iş. PSD olarak gelen tasarımı HTML - CSS olarak kodladım
                            </p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>

                        </div>
                        <div class="source">
                            <span>
                                <a href="https://github.com/yunusemreerkesikbas/StuWebsitePSDToHTML">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a href="https://stuwebsite.vercel.app/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>Saraylı Konakları</h4>
                        </div>
                        <div class="project-desc">
                            <p>Bu proje, staj döneminde Feel Medya adına yapmış olduğum bir website. PSD olarak gelen
                                tasarımı HTML - CSS olarak kodladım</p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>

                        </div>
                        <div class="source">
                            <span>
                                <a href="https://github.com/yunusemreerkesikbas/SarayliKonaklariPSDToHTML">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a href="https://saraylikonaklari.netlify.app/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>Github Profile App</h4>
                        </div>
                        <div class="project-desc">
                            <p>Kendimi geliştirmek adına yapmış olduğum Javascript projesidir. Bu projeyle girilen
                                GitHub
                                kullanıcı adına göre kullanıcıların profillerini, top 10 repo'larını ekranda
                                göstermektedir.GitHub API kullanılarak yapılmıştır.
                            </p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/js.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">

                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>

                        </div>
                        <div class="source">
                            <span>
                                <a
                                    href="https://github.com/yunusemreerkesikbas/JavascriptBasicProject/tree/master/githubProfile">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a href="https://githubprofileapp.vercel.app/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>Password Generator App </h4>
                        </div>
                        <div class="project-desc">
                            <p>Kendimi geliştirmek adına yapmış olduğum bir Javascript projesidir. Bu projeyle istenilen
                                özellikte şifreler oluşturulabilir</p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/js.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>

                        </div>
                        <div class="source">
                            <span>
                                <a
                                    href="https://github.com/yunusemreerkesikbas/JavascriptBasicProject/tree/master/passwordGenerator">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a href="https://passwordgenerator-ashen-two.vercel.app/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="projects">
                    <div class="project-content-desc">
                        <div class="project-title">
                            <h4>E-commerce Website</h4>
                        </div>
                        <div class="project-desc">
                            <p>Kendimi geliştirmek adına yapmış olduğum bir sitedir.</p>
                        </div>
                    </div>
                    <div class="project-content-links">
                        <div class="tech">
                            <span>
                                <img src="../../../assets/img/proje-img/html.svg" alt="">
                            </span>
                            <span>
                                <img src="../../../assets/img/proje-img/css.svg" alt="">

                            </span>

                        </div>
                        <div class="source">
                            <span>
                                <a
                                    href="https://github.com/yunusemreerkesikbas/WebsiteProjects/tree/master/e-commerceWebsite">
                                    <img src="../../../assets/img/proje-img/github.svg" alt="">
                                </a>
                            </span>
                            <span>
                                <a href="https://carashop.vercel.app/">
                                    <img src="../../../assets/img/proje-img/website.gif" alt="">
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>