<div class="site-wrap">
    <header class="header-nav">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="header  d-flex">
                        <div class="logo">
                            <a routerLink="/">
                                <h1>Yunus Emre</h1>
                            </a>
                        </div>
                        <div class="navbar">
                            <div class="social-media">
                                <ul>
                                    <li>

                                        <a target="_blank" href="https://github.com/yunusemreerkesikbas">
                                            <img class="sm-links" src="../../../assets/img/github.svg" alt="">
                                        </a>
                                        <a target="_blank" href="https://www.linkedin.com/in/yunusemreerkesikbas/">
                                            <img class="sm-links" src="../../../assets/img/linkedin.svg" alt="">
                                        </a>
                                        <a target="_blank" href="https://www.instagram.com/yunuseerkesikbas/">
                                            <img class="sm-links" src="../../../assets/img/instagram.svg" alt="">
                                        </a>
                                        <a target="_blank" href="https://bitbucket.org/yunusemreerkesikbas/">
                                            <img class="sm-links" src="../../../assets/img/bitbucket.svg" alt="">
                                        </a>

                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="header-navbar">
                        <ul>
                            <li class="header-link">
                                <a routerLink="/">Ana Sayfa</a>
                            </li>
                            <li class="header-link">
                                <a routerLink="/category/all-categories" routerLinkActive="active">TÜm Haberler</a>
                            </li>
                            <li class="header-link">
                                <a routerLink="/about" routerLinkActive="active">Hakkımda</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </header>
</div>