<ngb-carousel *ngIf="news">

    <ng-template ngbSlide *ngFor="let newsArticle of news | slice:0:3">
        <div class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-0 p-0 picsum-img-wrapper">
                        <div class="news-img ">
                            <img [ngSrc]="newsArticle.urlToImage" width="648" height="400" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 m-0 p-0">
                        <div class="description  ">

                            <div class="content-desc">
                                <a target="_blank" href="{{newsArticle.url}}">{{newsArticle.title}}
                                </a>
                            </div>

                            <p class="content">{{newsArticle.description}}</p>
                            <span class="author"><a>{{newsArticle.author}}</a> in </span>
                            <span class="date-read">{{newsArticle.publishedAt | date}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

</ngb-carousel>

