<div class="category-component">

    <div class="category-sidebar ">
        <ul>

            <li [class]="getAllCategoryClass()">
                <a routerLink="/category/all-categories">All Categories</a>
            </li>
            <li [class]="getCurrentCategoryClass(unique)" *ngFor="let unique of uniqueCategory">
                <a (click)="setCurrentCategory(unique)"
                    routerLink="/category/{{unique.category}}">{{unique.category}}</a>
            </li>

        </ul>

    </div>

</div>
