.category-component {
  font-family: "B612 Mono", monospace;

  display: flex;
  margin-top: 40px;
}
.category-component .category-sidebar {
  display: flex;
  position: sticky;
}
.category-component .category-sidebar ul {
  display: flex;
  flex-direction: column;
}
.category-component .category-sidebar ul li:nth-child(1) {
  padding-top: 0;
}
.category-component .category-sidebar ul li {
  padding: 20px 10px 10px 30px;
}
.category-component .category-sidebar ul .category-list-item a {
  font-size: 15px;
}
.category-component .category-sidebar ul .category-list-item.active a {
  border-bottom: 1px solid gray;
}
@media (max-width: 500px) {
  .category-list-item {
    display: flex;
    padding: 10px;
  }
}
