/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}
.site-wrap {
  padding: 0 200px;
  position: relative;
}
.site-wrap:before {
  display: none;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 50px 20px 20px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  margin-bottom: 50px;
  border-radius: 15px;
  height: 300px;
}

.projects .project-title {
  margin-bottom: 10px;
}
.projects .project-title h4 {
  font-size: 21px;
  font-weight: bold;
}
.projects .project-desc {
  margin-bottom: 22px;
}
.projects .project-desc p {
  font-size: 17px;
  line-height: 22px;
  color: gray;
}
.projects .tech {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.projects .tech img {
  width: 48px;
  height: 48px;
}
.projects .source span img {
  width: 35px;
  margin-right: 10px;
}
/* ----------------------- HEADER --------------------------- */
.header-nav {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header {
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
}
.logo h1 {
  font-weight: bold;
}
.social-media ul li a {
  margin: 0 20px;
}

.sm-links {
  width: 20px;
  height: 20px;
}
.search-form .form-control {
  margin-right: 10px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  border: none;
  background: #fff;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}
.search-form .form-control:active,
.search-form .form-control:focus {
  border-bottom: 1px solid #ccc;
}

.search-form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.search-form .btn:hover {
  background: #8bc34a;
  border-color: #8bc34a;
}
.search-form .btn img {
  background-color: transparent;
}
.search-form h2 {
  font-size: 1.2rem;
  color: #000;
}

.search-form p {
  font-size: 0.9rem;
}
.header-navbar {
  margin-top: 40px;
}
.header-navbar ul {
  display: flex;
  justify-content: center;
}
.header-navbar ul li:nth-child(1) {
  padding-left: 0;
}
.header-navbar ul li {
  padding: 0 20px;
}
.header-navbar ul li a {
  font-size: 12.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header-navbar ul li a.active {
  border-bottom: 1px solid gray;
}
/* ------------------- END OF HEADER -------------------------- */

/* -------------------     SLIDER -------------------------- */
.slider {
  margin-top: 50px;
}
.slider .news-img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.slider .description {
  height: 400px;
  padding: 50px;
  flex-direction: column;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}
.slider .description .pick {
  color: gray;
}
.slider .description .pick span {
  font-size: 15px;
}
.slider .description .content-desc {
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 1.3;
}
.slider .description {
  line-height: 1.7;
}
.slider .description .content {
  color: gray;
  font-weight: 300;
  font-size: 14.4px;
  margin-bottom: 10px;
}
.author,
.date-read {
  font-size: 12px;
}

.date-read {
  color: gray;
}
.carousel-indicators {
  bottom: -50px !important;
}
.carousel-indicators button {
  background-color: #ccc !important;
}
.carousel-control-next {
  position: absolute !important;
  right: -15% !important;
  width: 35px !important;
}
.carousel-control-prev {
  position: absolute !important;
  left: -15% !important;
  width: 10px !important;
}

button .carousel-control-next-icon {
  position: absolute !important;
  background-color: gray;
  right: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
button .carousel-control-prev-icon {
  position: absolute !important;
  background-color: gray !important;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* ------------------- END OF SLIDER -------------------------- */
/* ------------------- NEWS -------------------------- */
.news {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 100vh;
}

.news .news-search {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.news .heading {
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  display: inline-block;
}
.news .new {
  margin-bottom: 20px;
}
.news .new .news-heading {
  color: #000;
}

.news .news-img img {
  width: 200px;
  height: 210px;
  object-fit: cover;
}
.news .contents {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px 0px 15px 24px;
}

.news .contents .content {
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.5;
}
.news .contents .news-content-info .author {
  margin-bottom: 8px;
}
.news .contents .news-content-info .author a {
  font-size: 16px;
}
.custom-pagination {
  padding: 0;
  margin: 0;
  font-size: 0.89rem;
  color: #000;
}
.custom-pagination li {
  display: inline-block;
}
.custom-pagination li a {
  padding: 10px 10px;
  display: inline-block;
  color: #b3b3b3;
}
.custom-pagination li a:hover {
  color: #000;
}
.custom-pagination li.active a {
  color: #000;
}
/* ------------------- END OF NEWS -------------------------- */
/* ------------------- CATEGORY COMPONENT  -------------------------- */
.category-component {
  font-family: "B612 Mono", monospace;

  display: flex;
  margin-top: 40px;
}
.category-component .category-sidebar {
  display: flex;
  position: sticky;
}
.category-component .category-sidebar ul {
  display: flex;
  flex-direction: column;
}
.category-component .category-sidebar ul li:nth-child(1) {
  padding-top: 0;
}
.category-component .category-sidebar ul li {
  padding: 20px 10px 10px 30px;
}
.category-component .category-sidebar ul .category-list-item a {
  font-size: 15px;
}
.category-component .category-sidebar ul .category-list-item.active a {
  border-bottom: 1px solid gray;
}
.category-component .news-categories .news {
  margin-top: 0;
}
.news .category-title {
  margin-bottom: 30px;
  font-family: "B612 Mono", monospace;
}
.news-detail .news-img img {
  width: 100%;
}
/* ------------------- END OF CATEGORY -------------------------- */
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ---------------------- ABOUT ------------------------ */
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
  padding: 50px 0;
}
.about-text .text-box h1 {
  font-size: 50px;
}
.about-text .text-box h3 {
  font-size: 30px;
  margin: 10px 0;
}
.about-text .text-box .description {
  font-size: 17px;
  line-height: 25px;
  margin: 10px 0;
  color: gray;
}
.download-cv button {
  color: #fff;
  padding: 15px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  box-shadow: rgb(97 97 157 / 20%) 0px 7px 29px 0px;
  background: #8bc34a;
}
.download-cv button:hover {
  background: #fff;
  color: #8bc34a;
  transition: 0.5s all ease-in;
}
.skills-title {
  text-align: center;
}

.skills-title h1 {
  margin: 60px 0;
  letter-spacing: 10px;
  font-size: 40px;
}

.skill-list {
  margin: 0;
  padding: 0;
  margin-left: 2px;
  overflow: hidden;
}

.skill-list:after {
  content: "";
  clear: both;
  display: table;
}

.skill-list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 20%;
  margin-left: -2px;
  margin-bottom: -2px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #aaa;
  filter: brightness(0.5);
  transition: filter 0.3s ease 0s;
}

.skill-list li a i {
  transition: transform 1s ease 0s;
}

.skill-list li:hover {
  filter: brightness(1);
}

.skill-list li a i:hover {
  transform: scale(1.1);
}

.skill-list li:before {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.skill-list li a {
  display: flex;
}

.skill-list li a img {
  width: 100px;
  height: 100px;
}

.heading {
  margin: 70px 0;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

/* ------------------- END OF ABOUT ------------------------ */
/* ------------------- MEDIA ------------------------ */

@media (max-width: 500px) {
  .site-wrap {
    padding: 0;
  }
  .new {
    flex-direction: column;
  }
  .new .news-img img {
    width: 100%;
  }
  .news .contents {
    padding: 15px 0;
  }
  .carousel-control-next {
    display: none;
  }
  .search-form .btn {
    padding: 0;
  }
  .about-text {
    margin: 0;
  }
  .about-text .text-box .name {
    font-size: 40px;
  }
  .about-text .text-box .job-status {
    font-size: 23px;
  }
  .about-text .text-box .description {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
    color: gray;
  }
  .skill-list li {
    width: 50%;
  }
  .news-detail-component {
    flex-direction: column;
  }
  .news-detail-component .category-component {
    justify-content: center;
    text-align: center;
  }
  .category-list-item {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}
